.container {
    width: 100%;
    height: 600px;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 30px 50px #dbdbdb;
}

#slide {
    width: max-content;
    margin-top: 50px;
    height: auto;
    
}

.item {
    margin-top: 100px;
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 0.5s;
    background-size: cover;
    position: absolute;
    /* z-index: 1; */
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
}

.item1 {
    background-image: url(./../../../assets/image/1.jpg);
    border-radius: 15px;
}

.item2 {
    background-image: url(./../../../assets/image/2.jpg);
}

.item3 {
    background-image: url(./../../../assets/image/3.jpg);
}

.item4 {
    background-image: url(./../../../assets/image/4.jpg);
}

.item5 {
    background-image: url(./../../../assets/image/5.jpg);
}

.item:nth-child(1),
.item:nth-child(2) {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

.item:nth-child(3) {
    left: 50%;
}

.item:nth-child(4) {
    left: calc(50% + 220px);
}

.item:nth-child(5) {
    left: calc(50% + 440px);
}

.item:nth-child(n+6) {
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 450px;
    text-align: left;
    padding: 0;
    color: #302e2e;
    transform: translate(0, -50%);
    display: none;
    font-family: system-ui;
    background-color: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 30px;
}

.item:nth-child(2) .content {
    display: block;
    z-index: 11111;
}

.item .name {
    font-size: 35px;
    font-weight: bold;
    opacity: 0;
    animation: showcontent 1s ease-in-out 1 forwards
}

.item .des {
    margin: 20px 0;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.3s 1 forwards
}

.item button {
    padding: 10px 20px;
    border: none;
    opacity: 0;
    animation: showcontent 1s ease-in-out 0.6s 1 forwards
}

@keyframes showcontent {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}

.buttons {
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 40%;
    left: 0%;
    right: 0%;
    z-index: 999;
    text-align: center;
    width: 100%;
}


.button-default {

    padding: 40px 16px;

    background-color: rgba(162, 166, 170, 0.696);
    border: 0;
    transition: background-color 0.2s, backdrop-filter 0.2s;
}

.button-default:hover {
    transition: background-color 0.2s, backdrop-filter 0.2s;
    background-color: #30b2d2;
    /* backdrop-filter: blur(10px);  */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button-more {
    cursor: pointer;
    background-color: #30b2d2;
    color: #fff;
    border-radius: 3px;
}

.button-more:hover {
    cursor: pointer;
    background-color: #268ea8;
    color: #fff;
    border-radius: 3px;
}